@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .my-custom-class{
    @apply text-2xl lg:bg-slate-900 text-cyan-400
  }
}

@layer base{
  h1,h2,h3,h4,h5,h6{
    @apply text-dark-blue font-semibold text-sm md:text-base
  }
  h1{
    @apply text-2xl md:text-4xl;
  }
  p,div,span,a, ul, li{
    @apply text-sm md:text-base text-dark-grayish-blue;
  }
  /* Target the entire scrollbar */
  ::-webkit-scrollbar {
    width: 0; /* Width of the scrollbar */
  }

  /* Target the track of the scrollbar */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track */
  }

  /* Target the thumb of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color of the thumb */
  }

  /* Target the buttons of the scrollbar */
  ::-webkit-scrollbar-button {
    background-color: transparent; /* Color of the buttons */
  }
}