html {
  font-size: 10px;
}

:root {
  --main-background: hsl(0, 0%, 90%);
  --keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  --key-background-1: hsl(45, 7%, 89%);
  --shadow-key-background-1: hsl(35, 11%, 61%);

  --key-background: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);

  --equel-button: hsl(25, 98%, 40%);
  --shadow-equel-button: hsl(25, 99%, 27%);

  --txt: hsl(60, 10%, 19%);
  --white-txt: #fff;

  --hover-key-background-1: #ffffff;
  --hover-key-background: #62b5bd;
  --hover-equel-button: #ff8b38;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Spartan";
  font-weight: 700;
  color: var(--txt);
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

body > main {
  width: 80%;
  max-width: 64rem;
  padding: 16px;
}

main > .first {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}
main > .first > h3 {
  font-size: 2.8rem;
  align-self: flex-end;
}
div.first > section {
  display: flex;
}
.first > section > h6 {
  font-size: 1.15rem;
  align-self: flex-end;
}

div.first > section .mode-view-container {
  display: flex;
  width: 80px;
  justify-content: space-evenly;
  padding: 6px 0px;
  margin-left: 20px;
}
.mode-view-container > button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--keypad-background);
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
}
.mode-view-container > button.pilih {
  background-color: var(--equel-button);
}

.bg-mode-view {
  border-radius: 16px;
  background-color: var(--keypad-background);
}

div.first > section .mode-view-container > label {
  cursor: pointer;
}

main > #second {
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem 0rem;
  padding-right: 2rem;
  border-radius: 4px;
  background-color: var(--screen-background);
  font-size: 3rem;
}

main > .third {
  height: 38rem;
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 2rem;
  border-radius: 4px;
  background-color: var(--keypad-background);

  grid-template-areas:
    "no-7 no-8 no-9 del"
    "no-4 no-5 no-6 plus"
    "no-1 no-2 no-3 kurang"
    "dot no-0 bagi kali"
    "reset reset equel equel";
}
div.third > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--key-background-1);
  border-radius: 4px;
  border-bottom: 3.2px solid var(--shadow-key-background-1);
  font-size: 1.6rem;
  cursor: pointer;
}
div.no-7 {
  grid-area: no-7;
}
div.no-8 {
  grid-area: no-8;
}
div.no-9 {
  grid-area: no-9;
}
div.third > div.del {
  grid-area: del;
  background-color: var(--key-background);
  border-bottom: 3.2px solid var(--key-shadow);
  color: var(--white-txt);
}
div.no-4 {
  grid-area: no-4;
}
div.no-5 {
  grid-area: no-5;
}
div.no-6 {
  grid-area: no-6;
}
div.operator-plus {
  grid-area: plus;
}
div.no-1 {
  grid-area: no-1;
}
div.no-2 {
  grid-area: no-2;
}
div.no-3 {
  grid-area: no-3;
}
div.operator-kurang {
  grid-area: kurang;
}
div.dot {
  grid-area: dot;
}
div.no-0 {
  grid-area: no-0;
}
div.operator-bagi {
  grid-area: bagi;
}
div.operator-kali {
  grid-area: kali;
}
div.third > div.reset {
  grid-area: reset;
  background-color: var(--key-background);
  border-bottom: 3.2px solid var(--key-shadow);
  color: var(--white-txt);
}
div.third > div.equel {
  grid-area: equel;
  background-color: var(--equel-button);
  border-bottom: 3.2px solid var(--shadow-equel-button);
  color: var(--white-txt);
}
.third > div:hover {
  background-color: var(--hover-key-background-1);
}
.third > div.reset:hover,
.third > div.del:hover {
  background-color: var(--hover-key-background);
}
.third > div.equel:hover {
  background-color: var(--hover-equel-button);
}
